<h3>Admin > Settings</h3>
<form method="POST">
    <div class="form-group">
        <label for="consumer_key">Consumer Key</label>
        <input class="form-control" type="text" name="consumer_key" value="{{ consumer_key }}">
    </div>
    <div class="form-group">
        <label for="consumer_key">Consumer Secret</label>
        <input class="form-control" type="text" name="consumer_secret" value="{{ consumer_secret }}">
    </div>
    <div class="form-group">
        <label for="consumer_key">Access Token Key</label>
        <input class="form-control" type="text" name="access_token_key" value="{{ access_token_key }}">
    </div>
    <div class="form-group">
        <label for="consumer_key">Access Token Secret</label>
        <input class="form-control" type="text" name="access_token_secret" value="{{ access_token_secret }}">
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit">
    </div>
</form>
